* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.content {
  display: grid;
  height: 100vh;
  grid-template-rows: auto minmax(0, 1fr);
  padding: 10px;
  grid-gap: 10px;
}
.number_box {
  background-color: #004976;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
}
#words_table {
  display: flex;
}
#txt_number {
  font-size: 20px;
}
#btn_about {
  font-size: 20px;
  padding: 5px 10px;
}
#words_table div {
  overflow-y: scroll;
  padding: 0px 10px;
  background-color: #aec3d1;
  font-family: sans;
}
#info_dialog {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
#info_dialog__content {
  background: #fff;
  padding: 10px;
}
