* {
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
  --purple: #92278f;
  --dark-purple: #651b63;
  --orange: #fa921b;
  --light-orange: #ffead2;
}
body {
  margin: 0;
}
input, button {
  border-radius: 5px;
  border: 0;
}
button {
  padding: 5px 15px;
  background-color: var(--orange);
  color: var(--dark-purple);
  cursor: pointer;
}
#btn_close {
  font-size: 20px;
}
.content {
  display: grid;
  height: 100vh;
  grid-template-rows: auto minmax(0, 1fr);
  /*padding: 10px;*/
  /*grid-gap: 10px;*/
}
.number_box {
  background-color: var(--purple);
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr auto;
}
#words_table {
  display: flex;
}
#txt_number {
  font-size: 25px;
}
#btn_about {
  font-size: 25px;
  margin-left: 20px;
}
#words_table div {
  overflow-y: scroll;
  padding: 15px;
  background-color: var(--light-orange);
  color: var(--dark-purple);
  font-family: sans;
}
#info_dialog {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
#info_dialog__content {
  background: #fff;
  padding: 20px;
}
